{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "$": true,
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "import/extensions": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }]
  },
}
